@charset "UTF-8";

body{
    font-family: 'Hiragino Kaku Gothic pro','Meiryo','sans-serif';
    font-size: 14px;
    border-top: 10px solid #6e7a9f;
}

a{
    color: #666;
}

.w_inner{
    width: 1200px;
    margin: 0px auto;
}

.logo {
    text-align: center;
    margin: 20px 0px 60px;
}

.logo img{
    margin-bottom: 6px;
}

.logo p{
    font-size: 15px;
    font-weight: bold;
    color: #666;
}

header ul{
    display: flex;
    margin-bottom: 12px;
}

header ul li{
    text-align: center;
    width: 200px;
    border-right: 1px solid #ddd;
}

header ul li :first-child{
    border-left: 1px solid #ddd;

}

header ul li a{
    display: block;
}

.header_img img{
    text-align: center;
}

.content{
    margin-top: 120px;
}

.content_service{
    display: flex;
    justify-content: space-between;
}

.introduction{
    width: 380px;
    text-align: center;
    margin-top: 24px;
}

.content h2{
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.introduction .introduction_img{
    text-align: center;
}

.introduction .ttl{
    font-size: 20px;
    margin-top: 18px;
    color: black;
}

.introduction .explain{
    font-size: 12px;
    margin-top: 10px;
    color: #999;
}

.introduction a{
    background-color: #9ebadf;
    padding: 15px 30px 12px;
    margin-top: 15px;
    display: inline-block;
    color: #fff;
}

.pryvacy_policy{
    font-size: 12px;
    color: #999;
    text-align: right;
    margin-top: 90px;
}

.copy{
    background-color: #6e7a9f;
    color: #fff;
    padding: 12px auto 10px;
    margin-top: 12px;
    text-align: center;
}